.products {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Adjust the minimum and maximum width as needed */
  gap: 20px; /* Adjust the gap between grid items */
}

.product_single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_single img {
  max-width: 100%; /* Ensure images don't exceed their container width */
  height: auto; /* Maintain aspect ratio */
}
.pagination {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}
.pagination > span {
  padding: 15px 20px;
  border: 1px solid black;
  cursor: pointer;
}
.pagination_selected {
  background: rgb(220, 220, 220);
}
.pagination_disabled {
  opacity: 0;
}
